<!DOCTYPE html>
<html lang="en">
  <%- include('templates/head'); %>
<body>
  <%- include('templates/navbar', {username: master.dataValues.username, home: false}); %>
  <div class="jumbotron">
    <div class="container">
      <div class="ava-img">
        <img src="<%= master.dataValues.photo %>" alt="ava2">
      </div>
      <div id="box-info-user">
        <table>
          <tr>
            <td><h4 style="margin-right: 50px">Name</h4></td>
            <td><h4> : <%= master.dataValues.name %></h4></td>
          </tr>
          <tr>
            <td><h4 style="margin-right: 50px">Email</h4></td>
            <td><h4> : <%= master.dataValues.email %></h4></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  
  <section id="history-order">
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Repairman</th>
            <th scope="col">Cost</th>
            <th scope="col">Date</th>
            <th scope="col">Warranty Left</th>
            <th scope="col">Rating</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- JIKA KONDISI PANJANG DATA HISTORY -->
          <% let temp = master.dataValues.Transactions, daysWarranty = 21;
          if (temp.length > 0) { 
            temp.forEach((el, i) => {
              if (el.dataValues.completed) {
                if (countDate(el.dataValues.warranty, daysWarranty).slice(-3) === 'ago') { %>
                  <tr class="table-danger">
                    <th scope="row"><%= i+1 %></th>
                    <td><%= el.dataValues.item %></td>
                    <td><%= el.dataValues.Repairman.dataValues.username %></td>
                    <td><%= el.dataValues.Repairman.dataValues.cost %></td>
                    <td><%= displayDate(el.dataValues.booked_at, 'dddd, D MMMM YYYY') %></td>
                    <td><button type="button" class="btn btn-outline-danger btn-sm" disabled>Expired</button></td>
                    <td>
                      <% let total = 0;
                      for (let i = total; i < el.dataValues.repairman_rating; i++) { total++%>
                        <span class="fa fa-star checked" style="color: orange"></span>
                      <% } 
                      for (let i = total; i < 5; i++) { %>
                        <span class="fa fa-star"></span>
                      <% } %>
                    </td>
                    <td><button type="button" class="btn btn-danger btn-sm" onclick="if (confirm('Are you sure to delete?')) window.location.href = '/user/<%=master.dataValues.username%>/del/<%=el.dataValues.id%>';"><i class="far fa-trash-alt"></i></button></td>
                  </tr>
                <% } else { %>
                  <tr class="table-success">
                    <th scope="row"><%= i+1 %></th>
                    <td><%= el.dataValues.item %></td>
                    <td><%= el.dataValues.Repairman.dataValues.username %></td>
                    <td><%= el.dataValues.Repairman.dataValues.cost %></td>
                    <td><%= displayDate(el.dataValues.booked_at, 'dddd, D MMMM YYYY') %></td>
                    <td><%= countDate(el.dataValues.warranty) %></td>
                    <td>
                      <% let total = 0;
                      for (let i = total; i < el.dataValues.repairman_rating; i++) { total++%>
                        <span class="fa fa-star checked" style="color: orange"></span>
                      <% } 
                      for (let i = total; i < 5; i++) { %>
                        <span class="fa fa-star"></span>
                      <% } %>
                    </td>
                    <td><button type="button" class="btn btn-danger btn-sm" onclick="if (confirm('Are you sure to delete?')) window.location.href = '/user/<%=master.dataValues.username%>/del/<%=el.dataValues.id%>';"><i class="far fa-trash-alt"></i></button></td>
                  </tr>
                <% } %>
              <% } else { %>
                <tr class="table-primary">
                  <th scope="row"><%= i+1 %></th>
                  <td><%= el.dataValues.item %></td>
                  <td><%= el.dataValues.Repairman.dataValues.username %></td>
                  <td><%= el.dataValues.Repairman.dataValues.cost %></td>
                  <td><%= displayDate(el.dataValues.booked_at, 'dddd, D MMMM YYYY') %></td>
                  <td>...</td>
                  <td>
                    <% let total = 0;
                    for (let i = total; i < el.dataValues.repairman_rating; i++) { total++%>
                      <span class="fa fa-star checked" style="color: orange"></span>
                    <% } 
                    for (let i = total; i < 5; i++) { %>
                      <span class="fa fa-star"></span>
                    <% } %>
                  </td>
                  <td>
                    <button type="button" class="btn btn-success btn-sm" transaction-id="<%= el.dataValues.id %>" data-toggle="modal" data-target="#exampleModal" onclick="transDataModal(this);">
                      <i class="far fa-check-circle fa-lg"></i></i>
                    </button>
              
                    <button type="button" class="btn btn-danger btn-sm" onclick="if (confirm('Are you sure to cancel?')) window.location.href = '/user/<%=master.dataValues.username%>/del/<%=el.dataValues.id%>';">
                      <i class="far fa-times-circle fa-lg"></i>
                    </button>
                  </td>
                </tr>
              <% } %>
            <% }); %>


            
          <% } else { %>
            <tr>
              <td colspan="8" class="text-center display-4">Empty</td>
            </tr>
          <% } %>
            
        </tbody>
      </table> 
    </div>
  </section>




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="POST">
        <div class="modal-body">
          <input type="hidden" name="transaction_id">
          <input class="form-control" type="number" name="rating" min="1" max="5" required>
          <textarea name="comment" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Send feedback</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  function transDataModal(data) {
    let transactionId = data.getAttribute("transaction-id");
    $('.modal .modal-body input[name=transaction_id]').val(transactionId);
  }
</script>
  
</body>
</html>