<div class="col-md-4 card-box">
  <div class="card" style="width: 18rem;">
    <img src="<%= photo %>" class="card-img-top" alt="ava">
    <div class="card-body">
      <h5 class="card-title"><%= name %></h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, ipsa?</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Specialist <%= specialist %></li>
      <li class="list-group-item">Cost <%= cost %></li>
      <li class="list-group-item">Rating 
        <% let total = 0;
        for (let i = total; i < rating; i++) { total++%>
          <span class="fa fa-star checked" style="color: orange"></span>
        <% } 
        for (let i = total; i < 5; i++) { %>
          <span class="fa fa-star"></span>
        <% } %>
      </li>
    </ul>
    <div class="card-body">
      <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal" temp-id="<%= id %>" temp-specialist="<%= specialist %>" onclick="transDataModal(this)">HIRE</button>
      <!-- <button type="button" class="btn btn-outline-primary btn-sm">HIRE</button> -->
    </div>
  </div>
</div>